# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
build/
dist/
.tmp/
.temp/
.cache/

# Env and local
.env
.env.*
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.vercel
.env*.local
